.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 4px;
  background: rgba(0, 0, 0, 0.7);
}

.header a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .app-title {
    font-size: 1.6rem !important;
  }
}
