<div>
  <div
    [ngClass]="isLoading ? 'hungry__container' : 'padding-top'"
    class="d-flex flex-column align-items-center mb-4"
  >
    <h2>Feeling hungry ?</h2>
    <button class="btn btn-primary mt-4 mb-4" (click)="getRandomMeal()">
      Get a random meal 🍔
    </button>
    <h4 class="mb-3">Or choose a category :</h4>
    <div class="emoji__container">
      <div (click)="GetMealByCategory('Starter')"><span>Starter</span>🥚</div>
      <div (click)="GetMealByCategory('Seafood')"><span>Seafood</span>🐟</div>
      <div (click)="GetMealByCategory('Meat')"><span>Meat</span>🥩</div>
      <div (click)="GetMealByCategory('Pasta')"><span>Pasta</span>🍝</div>
      <div (click)="GetMealByCategory('Vegetarian')">
        <span>Vegetarian</span>🥗
      </div>
      <div (click)="GetMealByCategory('Vegan')"><span>Vegan</span>🥦</div>
      <div (click)="GetMealByCategory('Side')"><span>Side dish</span>🍟</div>
      <div (click)="GetMealByCategory('Dessert')"><span>Dessert</span>🧁</div>
      <div (click)="GetMealByCategory('Breakfast')">
        <span>Breakfast</span>🥐
      </div>
      <div (click)="GetMealByCategory('Miscellaneous')">
        <span>Other</span>🌮
      </div>
    </div>
  </div>

  <div class="row main__container" *ngIf="!isLoading">
    <div class="col-12 col-md-5 flex-column">
      <img class="w-100 mb-2" src="{{ meal.imgSrc }}" />
      <p><strong>Category: </strong>{{ meal.category }}</p>
      <p><strong>Area: </strong>{{ meal.area }}</p>
      <p *ngIf="meal.tags"><strong>Tags: </strong>{{ meal.tags }}</p>
      <!-- Ingredients -->
      <span class="ingredients-title">Ingredients:</span>
      <ul>
        <li *ngFor="let ingredient of meal.ingredients">{{ ingredient }}</li>
      </ul>
    </div>
    <!-- Recipe -->
    <div class="col-12 col-md-7 recipe__container">
      <h2>{{ meal.title }}</h2>
      <span>{{ meal.recipe }}</span>
    </div>
  </div>
  <div class="row videoWrapper" *ngIf="!isLoading">
    <iframe
      width="420"
      height="315"
      [src]="safeUrl"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>
